---
layout: default
title: Le Barbare
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Le Barbare vanno in Mongolia</h1>
				<p class="editable">Bisogna contribuire</p>
				<div class="button">
					<a href="#donate">Fai una donazione</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/Mongol-Rally-Logo-small.png" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;"> ... </h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Unisciti alle Barbare</h3>
			<p class="editable">Il team delle Barbare si sta allargando. Se anche tu ti senti una Barbara <a href="mailto:mongolbarbare@gmail.com"> scrivici</a>.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Dona</h3>
			<p class="editable">Ancora non lo hai fatto? Il Mongol Rally ha come obbiettivo raccogliere fondi per coolearth.org e portare ecografi per diagnosi dove ce ne è bisogno. Non si va in Mongolia per nulla. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Sponsorizza</h3>
			<p class="editable">Le Barbare hanno bisogno di mezzi tecnici. Hai un attività? Lecita o illecita, personale o impersonale, profit o nonprofit, non importa. Puoi fornire mezzi e ricevere enorme visibilità. Per info <a href="/sponsor"> leggi qui </a> o <a href="mailto:mongolbarbare@gmail.com"> scrivici</a>.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/missione.jpg" alt="Mongol-Rally-Logo-small.png">
		</div>
		<div>
			<h2 class="editable">La Missione</h2>

			<p class="editable">Arrivare in mongolia. Diecimila miglia tra montagne, deserti e steppa, con un mezzo a quattro ruote di cilindrata inferiore a 1000cc. Nessuna assistenza. Una traiettoria di viaggio incerta. Uniche regole sono quelle della Zingarata. Raccogliere fondi per CoolEarth.org e portare (almeno) un ecografo per diagnosi  </p>
		</div>
	</div>
</div>

<!--
<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>
...-->

<div class="darker">
	<div class="container">
		<h2 class="editable">Join</h2>
		<p class="editable" style="text-align: center;">Se non puoi fare a meno di avere notizie sulle Barbare.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Fai una donazione</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3> <a href=" {{ post.url }}">{{ post.title }}</a/></h3>
						<p>{{ post.excerpt }} <a href="{{post.url}}"> Leggi--> </a/> </p>
						
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
